body{
  font-family: 'Segoe UI',sans-serif;  
 background-color: #e1dfd7;
}
h1{
    color:aqua
}
form{
    text-align: center;
    background-color: beige;
    max-width: 350px;
    margin:auto;
    padding:25px;
    border-radius: 10px;
    box-shadow:5px 5px rgba(0, 0, 0, 0.383) ;
}
#textbox{
    width: 50%;
    text-align: center;
    border-radius: 4px;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8); 
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bolder;
}
button{
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    font-size: 1.5em;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color:hsl(0, 100%, 60%) ;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}